/* general things */

html {
	-webkit-font-smoothing: antialiased;
}

body {

}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  /* this is 2rem in original skeleton - I need less blank space */
}

a {
	color: #008;
}

a:hover,
a i:hover {
	color: #88f;
}

i {
	color: #444;
}

.color-light {
	color: #444;
	background-color: #f9f9f9;
}

.color-dark {
	color: #f9f9f9;
	background-color: #444;
}

.circle {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	line-height: 150px;
	text-align: center;
}


/* all sections */

.section {
	padding-top: 20px;
	padding-bottom: 50px;
}

/* add extra height for section 1*/

.section1 {
	height: 500px;
}