/* general things */

html {
	-webkit-font-smoothing: antialiased;
}

body {

}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  /* this is 2rem in original skeleton - I need less blank space */
}

a {
	color: #008;
}

a:hover,
a i:hover {
	color: #88f;
}

i {
	color: #444;
}

.color-light {
	color: #444;
	background-color: #f9f9f9;
}

.color-dark {
	color: #f9f9f9;
	background-color: #444;
}

.circle {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	line-height: 150px;
	text-align: center;
}

.button {
  color: #f9f9f9;
  border-color: #f9f9f9;
}

.button:hover {
  color: #f9f9f9;
  border-color: #f9f9f9;
  background-color: #888;
}

.button.button-primary {
  color: #f9f9f9;
  border-color: #f9f9f9;
  background-color: #888;
}

.button.button-primary:hover {
  color: #f9f9f9;
  border-color: #f9f9f9;
  background-color: #888;
}

/* navigation, settings only for desktop
since buttons on mobile don't look good */

@media (min-width: 750px) {
	#nav {
		padding-top: 10px;
	}
}

/* section 1 */

.section1 {
	padding-top: 20px;
	height: 600px;
}


/* section 2 */

.section2 {
	padding-top: 20px;
	padding-bottom: 50px;
}


/* section 3 */

.section3 {
	padding-top: 20px;
	padding-bottom: 50px;
}


/* section 4 */

.section4 {
	padding-top: 20px;
	padding-bottom: 50px;
}


/* section 5 */

.section5 {
	padding-top: 20px;
	padding-bottom: 50px;
}